.create-container{
    width: 80%;
    margin-inline: auto;
}
.create-container input,textarea{
    border: none;
    opacity: 0.7;
    box-shadow: 0.3vw 0.3vw 0.1vw rgba(0, 0, 0, 0.2);
    font-size: clamp(15px,1.2vw,20px);
    border-radius: 0.5vw;
    min-height: 30px;
}
.create-container label{
    color: rgb(121, 153, 190);
    font-size: clamp(15px,1.3vw,25px);
}
.create-container h2{
    font-size: clamp(20px,1.5vw,30px);
    text-align: center;
    color: lightslategrey;
}
.create-container h3{
    font-size: clamp(18px,1vw,20px);
    text-align: center;
    color: rgb(78, 159, 185);
}
.create-container__header{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}
.header-title{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2%;
}
.header-title__info{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.header-title__info input{
    width: 40%;
}
.header-content textarea{
    width: 100%;
    max-width: 100%;
    max-height: 100px;
    min-width: 10%;
}

.create-container__article{
    display: flex;
    flex-direction: column;
}
.article-author__information,.article-duration__information{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 2%;
}
.article-author__information div:nth-child(1),.article-duration__information div:nth-child(1){
    width: 65%;
}
.article-author__information>input,.article-duration__information>input{
    width: 100%;
}

.create-authorBton{
    margin-top: 2%;
}
.create-authorBton button{
    display: block;
    margin-inline: auto;
}

.author-list{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 5%;
}
.boton-author__add button{
    font-size: clamp(15px,1.2vw,20px);
}
.create-container button{
    border: 5px solid transparent;
    border-radius: 1vw;
    background-color: transparent;
    color: lightskyblue;
    font-size: clamp(15px,1.25vw,25px);
    cursor: pointer;
    box-shadow: 0.3vw 0.3vw 0vw rgb(229, 240, 250);
}

.create-container button:active{
    transform: translate(0.2vw,0.2vw);
    box-shadow: 0.1vw 0.1vw 0vw rgb(229, 240, 250);
}

center button{
    width: 200px;
    margin-bottom: 2%;
}